.doofinder-for-wp-warning {
  color: #ff9900;
}

.doofinder-for-wp-progress-bar {
  height: 25px;

  margin: 20px 0;

  background-color: white;
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;

  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0;

  overflow: hidden;
}

.doofinder-for-wp-progress-bar .doofinder-for-wp-bar {
  box-sizing: border-box;

  width: 0;
  height: 100%;

  background-color: #0e90d2;
  background-image: linear-gradient(top, #149bdf, #0480be);
  background-repeat: repeat-x;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);

  transition: width 0.15s ease;
}

.doofinder-for-wp-progress-bar-status {
  color: #607d8b;
}

.doofinder-for-wp-progress-bar-status p {
  display: none;
}

.doofinder-for-wp-progress-bar-status p.active {
  display: block;
}

.doofinder-for-wp-additional-messages {
  display: none;

  margin-bottom: 25px;

  color: #607d8b;
}

.doofinder-for-wp-additional-messages.active {
  display: block;
}

.doofinder-for-wp-indexing-error {
  display: none;

  color: #cc0000;
}

.doofinder-for-wp-indexing-error.active {
  display: block;
}

.doofinder-for-wp-spinner {
  float: none;
}

.form-table td {
  position: relative;
}

.doofinder-tooltip {
  display: inline-block;

  height: 16px;
  width: 16px;

  vertical-align: middle;
  position: absolute;
  left: -17px;
  top: 21px;

  font-size: 15px;
  line-height: 1;
  color: #666;

  cursor: help;
}

.doofinder-tooltip::after {
  content: "\f223";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  font-family: Dashicons;
  text-align: center;
  line-height: 1;

  speak: none;
  cursor: help;
}

.doofinder-tooltip > span {
  max-width: 200px;
  min-width: 151px;
  padding: 7px 11px;

  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(calc(-50% + 0.5px));
  z-index: 2;

  text-align: center;
  font-size: 10px;
  line-height: 18px;
  color: #fff;

  background: #333;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  cursor: default;
  pointer-events: none;
  opacity: 0;

  transition: opacity 0.3s;
}

.doofinder-tooltip > span::after {
  content: "";

  height: 0;
  width: 0;

  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(calc(-50% - 0.5px));

  border: 6px solid transparent;
  border-bottom-color: #333;
}

.doofinder-tooltip:hover > span {
  opacity: 1;
}

p.description {
  font-style: normal;
}

.custom-list li::before {
  content: "- ";
}

/* Custom attributes */

.doofinder-for-wp-attributes th,
.doofinder-for-wp-attributes td {
  padding: 0 10px 0 0;
}

.doofinder-for-wp-attributes [type="text"],
.doofinder-for-wp-attributes select {
  display: block;
  width: 100%;
}

/*
Toggle
*/
.df-toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.df-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.df-toggle-switch .toggle-slider {
  position: absolute;
  cursor: pointer;
  border-radius: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.df-toggle-switch .toggle-slider:before {
  border-radius: 50px;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.df-toggle-switch input:checked + .toggle-slider {
  background-color: #33268c;
}
.df-toggle-switch input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

/* Update on save buton */

.update-on-save-btn .dashicons {
  padding-top: 3px;
}

.update-result-wrapper {
  margin: 15px;
  font-weight: bold;
}

/* */
.df-action-btn {
  text-decoration: none;
  min-width: 40px;
  text-align: center;
  display: inline-block;
  color: dimgrey;
  border: 1px solid dimgrey;
  border-radius: 3px;
  padding: 3px 0px;
}

.df-action-btn.df-delete-attribute-btn:hover {
  color: #e83f3f;
  border-color: #e83f3f;
}
.df-action-btn.df-add-attribute-btn:hover {
  color: #199613;
  border-color: #199613;
}

#df-settings-form .errors {
  color: #d63638;
}

#df-settings-form .invalid {
  border-color: #d63638;
}
