.df-content-area {max-width: 1600px; padding: 4vw 6vw; margin: 0 auto;}
.df-landing-block {margin-bottom: 4vw;}
.df-landing-block .df-above-block{padding: 0 0 1vw 0;}
.df-landing-block .df-below-block{padding: 0 0 1vw 0;}
