button, .button { user-select: none; display: inline-block; padding: .575rem 2rem; margin: 0.8rem 0; vertical-align: middle; font-size: 1.3rem; font-weight: 400; line-height: 1.5; text-align: center; color: #fff; white-space: nowrap; border: 1px solid #c85b81; border-radius: 2px; background-color: #c85b81; cursor: pointer; }

button:hover, .button:hover { color: #fff; border-color: #a94769; background-color: #a94769; }

button-error, .button-error { background-color: #cc0000; }

button-error:hover, .button-error:hover { background-color: #dc320d; }

*, *:before, *:after { box-sizing: border-box; }

html { font-size: 62.5%; }

body { display: flex; flex-flow: column nowrap; align-items: center; justify-content: flex-start; padding: 0; margin: 2rem; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #444; background: #f1f1f1; box-shadow: none; font-size: 1.4rem; line-height: 1.28571; -webkit-font-smoothing: subpixel-antialiased; }

main { display: flex; flex-flow: column nowrap; align-items: flex-start; justify-content: center; width: 100%; max-width: 700px; margin: 65px auto 24px; }

@media screen and (max-width: 767px) { main { margin: 25px auto 24px; } }

h1, h2, h3, h4 { font-family: "HelveticaNeue-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 { margin: 0 auto; margin-top: 0; font-size: 3rem; font-weight: 500; line-height: 1.1; text-align: center; }

@media screen and (max-width: 767px) { h1 { font-size: 2.4rem; } }

h2 { font-size: 2.4rem; font-weight: 500; line-height: 1.1; }

h3 { font-size: 1.8rem; font-weight: 500; line-height: 1.1; }

h4 { font-size: 1.4rem; font-weight: 500; line-height: 1.1; }

form { margin: 0; }

input[type="text"], textarea { display: block; width: 100%; padding: .375rem .75rem; margin-top: 5px; color: #55595c; border: 1px solid #ccc; border-radius: .25rem; background-color: #fff; }

input[type="text"] { display: block; width: 100%; }

textarea { display: block; resize: vertical; width: 100%; }

label { display: block; font-size: 80%; font-weight: 700; text-transform: uppercase; }

a { color: #c85b81; text-decoration: none; }

a:hover { color: #a94769; }

.box { width: 100%; padding: 4rem 5rem 2rem 4rem; margin: 4rem 0; text-align: left; border-radius: 4px; background: #fff; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); overflow: hidden; zoom: 1; }

@media screen and (max-width: 767px) { .box { padding: 2.5rem 3rem 1.5rem 1.5rem; } }

.form-row { margin-bottom: 16px; }

.has-error input { border-color: #cc0000; }

.has-error .loading { display: none; }

.error, .error-text { margin-top: 5px; margin-bottom: 5px; color: #cc0000; }

.list-of-checkboxes { display: flex; flex-wrap: wrap; margin: 16px 0; }

.list-of-checkboxes label { width: 20%; }

.has-checkbox { font-size: 1rem; font-weight: normal; text-transform: initial; cursor: pointer; }

.dfwc-setup-steps { display: none; }

.dfwc-setup-steps.active { display: block; }

.dfwc-setup-step { display: flex; align-items: flex-start; padding: 0 0 2rem 0; position: relative; margin: 1rem 0; }

.dfwc-setup-step:first-of-type { margin-top: 0; }

.dfwc-setup-step:last-of-type { margin-bottom: 0; }

.dfwc-setup-step:before { content: ""; display: block; width: 1px; height: calc(95% - 2.4rem); position: absolute; bottom: 0; left: 0.9rem; background-color: #e3e3e4; }

.dfwc-setup-step:last-of-type:before { display: none; }

.dfwc-setup-step__wrap { flex: 1; }

.dfwc-setup-step__content { display: none; padding: 1rem 0 0; }

.dfwc-setup-step.active .dfwc-setup-step__content { display: block; }

.dfwc-setup-step__title { margin: 1rem 0; font-size: 1.6rem; line-height: 1; }

.dfwc-setup-step__title:first-of-type { margin-top: 0.3rem; }

.dfwc-setup-step.active .dfwc-setup-step__title { font-weight: 700; }

.dfwc-setup-step__desc { margin: 1rem 0; line-height: 1; color: #777; font-size: 1.3rem; line-height: 1.07692; }

.dfwc-setup-step__number { display: flex; flex: 0 auto; align-items: center; justify-content: center; width: 2rem; height: auto; padding: 0; margin: 0 1rem 1rem 0; font-weight: 500; color: #333; border-radius: 50%; background-color: #e3e3e4; font-size: 1.4rem; line-height: 1; }

.dfwc-setup-step__number:before { content: ""; margin-top: 100%; }

.dfwc-setup-step.active .dfwc-setup-step__number, .dfwc-setup-step.finished .dfwc-setup-step__number { color: #fff; background: #765da5; }

.dfwc-setup-step__actions { display: flex; align-items: center; justify-content: flex-start; }

@media screen and (max-width: 767px) { .dfwc-setup-step__actions { flex-flow: column nowrap; } }

.indexing .dfwc-setup-step__actions { display: none; }

.dfwc-setup-step__actions > * { display: block; margin-right: 1.5rem; }

.dfwc-setup-step__progress-bar-wrapper { display: none; margin: 1.5rem 0; color: #c85b81; font-size: 1.3rem; line-height: 1.23077; }

.dfwc-setup-step__progress-bar-wrapper .small, .dfwc-setup-step__progress-bar-wrapper p, .dfwc-setup-step__progress-bar-wrapper div { font-size: 1.2rem; line-height: 1.25; }

.dfwc-setup-step__progress-bar-wrapper.active { display: block; }

.dfwc-setup-step .loading { color: #c85b81; }

.doofinder-for-wc-progress-bar-status { color: #c85b81; }

.doofinder-for-wc-additional-messages { color: #9e9e9e; }

.progress-bar { width: 100%; height: 3px; margin: 0.5rem 0; background: #e4e4e4; overflow: hidden; }

.progress-bar > * { display: block; width: 0; height: 100%; background: #c85b81; transition: width .3s ease; }

.spinner { margin-top: 0; margin-left: 0; }

.notice, div.updated, div.error { margin: 1.5rem auto; }

.dfwc-setup-finished { display: none; }

.dfwc-setup-finished.active { display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; padding: 4rem 0 7rem; }

.dfwc-setup-finished button { font-size: 1.5rem; }

.dfwc-setup-finished__icon { margin: 2rem auto; font-size: 7.2rem; line-height: 1; }

.dfwc-setup-finished__title { margin: 1rem auto; font-size: 3.6rem; line-height: 1.16667; }

.dfwc-setup-finished__desc { margin: 0.8rem auto 2rem; font-size: 1.7rem; line-height: 1.35294; }

.dfwc-setup-skip-main { margin: 0 auto; text-align: center; }

.dfwc-setup-step__actions select { height: 35px; }