# Copy to `.env.local` to override values from `.env` for your machine.
# `.env.local` is gitignored.

# WEB_SERVICE_PORT=9020
# MYSQL_HOST_PORT=3320
# LOCAL_DOMAIN=http://my-ngrok-host.ngrok.io
# APACHE_UID=1001
# APACHE_GID=1001

# You need to set this to 'local' in order for wordpress to read
# the DF_PLUGINS_HOST and DF_API_HOST environment variables
# WP_ENVIRONMENT_TYPE=local
# DF_PLUGINS_HOST=https://my-dooplugins.ngrok.doofinder.com
# DF_API_HOST=https://my-doomanager.ngrok.doofinder.com
