# Copy to `.env.local` to override values from `.env` for your machine.
# `.env.local` is gitignored.

# WEB_SERVICE_PORT=9020
# MYSQL_HOST_PORT=3320
# LOCAL_DOMAIN=http://my-ngrok-host.ngrok.io
# APACHE_UID=1001
# APACHE_GID=1001
